#header {
	width: 100vw;
	height: 40vh;
	background-color: #84142d;
}

h1 {
	font-size: 5em;
	color: #fff;
	text-align: center;
}

#form-container {
	width: 80vw;
	margin: 0 auto;
}

.input-field {
	width: 50%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#text-message {
	width: 100%;
	height: 5em;
	resize: none;
}

#status-display {
	height: 5em;
	margin-top: 2em;
	border: 1px solid #c2c2c2;
}