<!DOCTYPE html>
<html>
	
	<head>
		<title>Simple App</title>

	    <meta charset="utf-8" />
	    
	    <meta
	      name="viewport"
	      content="width=device-width, initial-scale=1, shrink-to-fit=no"
	    />

	    <!-- Bootstrap CSS --> 
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

		<!-- Custom CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

		<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">


	</head>
	
	<body>

		<div class="container-fluid d-flex justify-content-center" id="header">
			<div class="row align-self-center">
				<h1>Hello SMS</h1>
			</div>
		</div>

		<div id="main-section">

			<div class="container" id="lead-container">

				<p id="lead-text"> 
					You can send a text message to your friend or whomever with a U.S. phone number (example: 212-777-8888). Try sending a message to your phone!
				</p>

			</div>

			<div class="container" id="form-container">

				<form class="form-group" method="post" enctype="multipart/form-data">

					<input class="input-field form-control form-control-lg" id="sender-name-field" type="text" name="sender-name" placeholder="your name" required/>

					<input class="input-field form-control form-control-lg" id="recipient-phone-field" type="text" name="recipient-phone" placeholder="recipient's phone number (e.g., 212-888-8888)" required/>

					<textarea class="input-field form-control form-control-lg" id="text-message" name="message" maxlength="100" placeholder="your message here (CHARACTERS LEFT)" required></textarea>

					<input type="submit" class="btn btn-primary" value="Send your SMS!">
				</form>

			</div>
		</div>

		<div id="footer-container">
			<a href="http://henryzheng.me" id="footer-brand-link">
				<div id="footer-logo">
					<p className="footer-brand-text" id="footer-brand-top-text">made by</p>					
					<p className="footer-brand-text" id="footer-brand-bottom-text">hz</p>
				</div>
			</a>
		</div>

	</body>

	<footer>
	    <!-- jQuery, Popper.js, Bootstrap.js -->
	    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</footer>

</html>